            body {
                background: #3C5A76;
                border: 0 none;
                height: 100%;
                margin: 0;
                padding: 0;
                text-align: center;
                font-size: 14px;
                font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
                color: #243748;
            }
            a { text-decoration: underline; cursor: pointer; }
            .bignumber{
                font-size: 50px;
                font-weight: bold;
                color: #fff;
                text-shadow: 0 1px 4px rgba(0, 0, 0, 0.68);
            }
            .smallnumber{
                color: #ADADAD;
                font-size: 12px;
            }
            .mediumnumber{
                color: #243748;
                font-size: 18px;
                text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
            }
            
            .normaltext {
                color : #fff;
                font-size: 18px;
            }
            
            .inline {
                display: inline;
            }
            .leftalign {
                text-align: left;
            }
            .right {
                right: 0;
                position: absolute;
                bottom:0;
            }
            
            .active {
                background: #000;
            }
            .lightnumber { color: #fff }
            #distance {
                padding-top: 20px;
            }

            .header {
                position: fixed;
                top:10px;
                width: 100%;
            }
            .footer {
                position: fixed;
                bottom:10px;
                width: 100%;
            }
            
            .displaybody {
                position: absolute;
                top:30%;
                width: 100%;
            }


            #error {
                background : url( error.gif ) no-repeat 50% 15%;
                width: 100%;
                height: 100px;
                padding-top:80px;
            }
.btn {
    background: url("http://assets.tumblr.com/images/register_login/button_submit.gif") no-repeat scroll left 0 padding-box transparent;
    border: 1px solid #2A3F56;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(255, 255, 255, 0.7) inset;
    color: rgba(0, 0, 0, 0.72) !important;
    cursor: pointer;
    display: inline-block;
    font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
    font-size: 17px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    margin: 20px auto 0;
    outline-width: 0;
    padding: 0 15px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.37);
    white-space: nowrap;
}
